.my-thumbs {
    padding: 0 15px;
}
  
.thumb-slide {
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid grey;
  }
  
.swiper-slide-thumb-active {
    border: none;
    background: linear-gradient(269.98deg, #3742F5 19.49%, #D6357F 103.52%);
    padding-bottom: 1px;
  }
.thumb-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141414;
    text-align: center;
}