name: Spellcheck Task
on: [ pull_request ]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout codebase
        uses: actions/checkout@v3
      - name: Get Changed Files
        id: files
        uses: tj-actions/changed-files@v35
        with:
          files: |
            ./public/*.html
            ./public/*.txt
            ./public/*.json
            ./src/**/*.json
            ./src/**/*.ts
            ./src/**/*.tsx
      - name: Exit Unchanged
        if: steps.files.outputs.any_changed != 'true'
        run: |
          echo "::notice Skipping spell-check since no files have changed"
          exit 3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Fetch Dependencies
        run: npm ci
      - name: ensure Reports directory
        run: mkdir -p reports
      - name: Spell Check
        run: npm run spell-check -- --files ${{ steps.files.outputs.all_changed_files }}
      - name: Upload Result
        uses: actions/upload-artifact@v3
        with:
          path: ./reports/spellcheck.json
      - name: Report
        uses: austenstone/spellchecker-cli-action-summary@main
        with:
          file-json: ./reports/spellcheck.json
          files-changed: ${{ steps.files.outputs.all_changed_files }}
